In [1]:
import pandas as pd
import numpy as np

In [2]:
# carregar dados
data = pd.read_csv('abalone.csv', sep=',')

# embaralhar dados
data = data.sample(frac=1)

# mostrar quantidade de linhas e colunas
print(data.shape)

# mostrar exemplos de dados
data.head()

(4177, 9)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
2758,M,0.535,0.430,0.155,0.7845,0.3285,0.1690,0.2450,10
1384,F,0.630,0.485,0.170,1.3205,0.5945,0.3450,0.3450,9
1131,M,0.565,0.435,0.150,0.9900,0.5795,0.1825,0.2060,8
3726,I,0.500,0.395,0.145,0.7865,0.3320,0.1815,0.2455,8
3445,I,0.495,0.400,0.145,0.5780,0.2545,0.1305,0.1645,8

In [3]:
# renomear coluna índice
data.index.names = ['id']

# aumentar a precisão da coluna alvo
data.rings = round(data.rings + 1e-3, 2)

In [4]:
data['rings'].describe()

count    4177.000000
mean        9.933684
std         3.224169
min         1.000000
25%         8.000000
50%         9.000000
75%        11.000000
max        29.000000
Name: rings, dtype: float64

In [5]:
# exibir dados
data.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
id,,,,,,,,,
2758,M,0.535,0.430,0.155,0.7845,0.3285,0.1690,0.2450,10
1384,F,0.630,0.485,0.170,1.3205,0.5945,0.3450,0.3450,9
1131,M,0.565,0.435,0.150,0.9900,0.5795,0.1825,0.2060,8
3726,I,0.500,0.395,0.145,0.7865,0.3320,0.1815,0.2455,8
3445,I,0.495,0.400,0.145,0.5780,0.2545,0.1305,0.1645,8

In [6]:
# dividir os dados de treino e teste

divisao = int(data.shape[0] * 2 / 3)

train = data[:divisao]
test = data[divisao:]

print(train.shape, test.shape)

(2784, 9) (1393, 9)

In [7]:
train.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
id,,,,,,,,,
2758,M,0.535,0.430,0.155,0.7845,0.3285,0.1690,0.2450,10
1384,F,0.630,0.485,0.170,1.3205,0.5945,0.3450,0.3450,9
1131,M,0.565,0.435,0.150,0.9900,0.5795,0.1825,0.2060,8
3726,I,0.500,0.395,0.145,0.7865,0.3320,0.1815,0.2455,8
3445,I,0.495,0.400,0.145,0.5780,0.2545,0.1305,0.1645,8

In [8]:
test.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
id,,,,,,,,,
1512,F,0.65,0.500,0.160,1.3825,0.7020,0.3040,0.3195,9
1401,M,0.65,0.525,0.175,1.5365,0.6865,0.3585,0.4050,11
509,I,0.56,0.445,0.155,0.8735,0.3005,0.2090,0.2750,16
2883,I,0.50,0.370,0.120,0.5445,0.2490,0.1065,0.1520,8
3259,M,0.64,0.505,0.165,1.4435,0.6145,0.3035,0.3900,18

In [9]:
example = test[['rings']]
example['rings'] = example.index.map(lambda x: int(x % 29 + 1))
example.head()

/opt/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      rings
id
1512      5
1401     10
509      17
2883     13
3259     12

In [10]:
example.describe()

             rings
count  1393.000000
mean     14.897344
std       8.283774
min       1.000000
25%       8.000000
50%      15.000000
75%      22.000000
max      29.000000

In [11]:
train.to_csv('abalone-train.csv')

test.drop(['rings'], axis=1).to_csv('abalone-test.csv')
test[['rings']].to_csv('abalone-solution.csv')

example.to_csv('abalone-example.csv')

In [12]:
!head abalone-*.csv

==> abalone-example.csv <==
id,rings
1512,5
1401,10
509,17
2883,13
3259,12
2135,19
1499,21
3597,2
2414,8

==> abalone-solution.csv <==
id,rings
1512,9
1401,11
509,16
2883,8
3259,18
2135,12
1499,9
3597,11
2414,9

==> abalone-test.csv <==
id,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight
1512,F,0.65,0.5,0.16,1.3825,0.702,0.304,0.3195
1401,M,0.65,0.525,0.175,1.5365,0.6865,0.3585,0.405
509,I,0.56,0.445,0.155,0.8735,0.3005,0.209,0.275
2883,I,0.5,0.37,0.12,0.5445,0.249,0.1065,0.152
3259,M,0.64,0.505,0.165,1.4435,0.6145,0.3035,0.39
2135,M,0.565,0.425,0.1,0.7145,0.3055,0.166,0.18
1499,M,0.63,0.47,0.145,1.1005,0.52,0.26,0.276
3597,M,0.685,0.53,0.17,1.56,0.647,0.383,0.465
2414,I,0.42,0.305,0.11,0.28,0.094,0.0785,0.0955

==> abalone-train.csv <==
id,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
2758,M,0.535,0.43,0.155,0.7845,0.3285,0.169,0.245,10
1384,F,0.63,0.485,0.17,1.3205,0.5945,0.345,0.345,9
1131,M,0.565,0.435,0.15,0.99,0.5795,0.1825,0.206,8
3726,I,0.5,0.395,0.145,0.7865,0.332,0.1815,0.2455,8
3445,I,0.495,0.4,0.145,0.578,0.2545,0.1305,0.1645,8
817,I,0.35,0.27,0.09,0.2055,0.075,0.0575,0.062,6
2742,I,0.46,0.345,0.105,0.415,0.187,0.087,0.11,8
3757,I,0.52,0.41,0.14,0.699,0.3395,0.129,0.1945,10
2609,F,0.63,0.495,0.2,1.4255,0.659,0.336,0.38,11