In [1]:
# importar pacotes necessários
import numpy as np
import pandas as pd

In [2]:
# definir parâmetros extras
pd.set_option('precision', 4)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [3]:
input_prefix = 'data/'
#input_prefix = 'https://github.com/hjort/ai-labs/raw/master/jupyter/sales-russia/data/'

bzfile = '.bz2' # ''

In [4]:
dateparse = lambda x: pd.datetime.strptime(x, '%d.%m.%Y')
df_train = pd.read_csv(\
    input_prefix + 'sales_train.csv' + bzfile,
    #nrows=300, # somente primeiras linhas!
    parse_dates=['date'], date_parser=dateparse,
    dtype={'date_block_num': np.int8, 'shop_id': np.int8, 'item_id': np.int16, \
           'item_price': np.float32, 'item_cnt_day': np.int32},
    )
print('shape:', df_train.shape)
df_train.head()

shape: (2935849, 6)

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-01-02               0       59    22154      999.00             1
1 2013-01-03               0       25     2552      899.00             1
2 2013-01-05               0       25     2552      899.00            -1
3 2013-01-06               0       25     2554     1709.05             1
4 2013-01-15               0       25     2555     1099.00             1

In [5]:
%time df_train['item_price'] = (np.ceil(df_train['item_price'])).astype(np.int32)

CPU times: user 26 ms, sys: 71 µs, total: 26.1 ms
Wall time: 24.5 ms

In [16]:
grouped_data = df_train.groupby(['shop_id', 'item_id'], as_index=False).agg(
    {'item_price': ['count', 'sum', 'min', 'max', 'mean', 'std', 'median'],
     'item_cnt_day': ['count', 'sum', 'min', 'max', 'mean', 'std', 'median']}
)

grouped_data.sort_values(by=('item_price', 'count'), ascending=False).head(15)

       shop_id item_id item_price                                              \
                            count     sum  min  max      mean      std median
198879      28   20949        867    4335    5    5    5.0000   0.0000    5.0
368875      53   20949        863    4315    5    5    5.0000   0.0000    5.0
230429      31   20949        863    4315    5    5    5.0000   0.0000    5.0
140002      22   20949        848    4239    4    5    4.9988   0.0343    5.0
286959      42   20949        834    4170    5    5    5.0000   0.0000    5.0
395578      56   20949        830    4150    5    5    5.0000   0.0000    5.0
97319       16   20949        828    4140    5    5    5.0000   0.0000    5.0
131949      21   20949        824    4120    5    5    5.0000   0.0000    5.0
50354        7   20949        823    4115    5    5    5.0000   0.0000    5.0
246936      35   20949        817    4085    5    5    5.0000   0.0000    5.0
383244      55     492        801  464885  300  600  580.3808  59.5683  600.0
166003      25   20949        800    4000    5    5    5.0000   0.0000    5.0
79751       14   20949        798    3990    5    5    5.0000   0.0000    5.0
319250      46   20949        790    3950    5    5    5.0000   0.0000    5.0
41933        6   20949        771    3855    5    5    5.0000   0.0000    5.0

       item_cnt_day
              count    sum min  max     mean      std median
198879          867  13458   1   71  15.5225  11.1312   12.0
368875          863   3540   1   21   4.1020   2.7857    4.0
230429          863  19934   1  107  23.0985  12.4200   21.0
140002          848   4382   1   31   5.1675   3.8272    4.0
286959          834  10514   1   72  12.6067   7.0405   12.0
395578          830   3439   1   55   4.1434   3.5768    3.0
97319           828   3395   1   23   4.1002   3.2406    3.0
131949          824   4335   1  101   5.2609   5.9515    4.0
50354           823   3321   1   41   4.0352   3.9310    3.0
246936          817   3434  -1   30   4.2032   3.0747    3.0
383244          801   2221   1   28   2.7728   2.1467    2.0
166003          800  14343   1  501  17.9288  22.7104   15.0
79751           798   3219 -16   24   4.0338   3.1639    3.0
319250          790   3891   1   46   4.9253   5.2166    3.0
41933           771   3551   1   57   4.6057   4.1476    4.0